{% extends "layouts/layout-base.html.twig" %}
{% block title %}Anasayfa{% endblock %}
{% set active = 'homepage' %}
{% block content %}
    <div class="jumbotron">
        <h1>Anasayfa</h1>
        <p>Destek Sistemi</p>
    </div>
{% endblock %}
