{% extends "layouts/layout-base.html.twig" %}
{% block title %}Anasayfa{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Anasayfa</h1>
        <p>Anasayfa içeriği</p>
    </div>
{% endblock %}
